*{
   margin: 0;
   padding: 0;
   text-decoration:none

}
header{
    background-color: #eee;
    width: 100%;
}
header nav ul li a  {
    font-size: 18px;
    color:white;
    float: right;
    justify-content: center;
    align-items: center;
}
.logo { 
    width: 56px;
    height: 56;
    background: url ('../img/sampa.png') center center/56px no-repeat;
}

 img{
     max-width: 100%;
 }